body {
    font-family: 'Roboto', sans-serif;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
::-webkit-scrollbar {
  width: 0.3em;
}
::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 25px;
    -webkit-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.3);
}
::-webkit-scrollbar-track {
    background: #b8c0c8;
    border-radius: 15px;
}
h1,h2,h3,h4,h5,p {
    cursor: default;
}
a:not([href]):not([tabindex]) {
    cursor: default;
}
button {
    transition: 1s;
    cursor: pointer;
}
button:hover {
    opacity: .7;
}
textarea:focus::-webkit-input-placeholder {
    color: transparent;
    opacity: 0;
}
input:focus::-webkit-input-placeholder {
    color: transparent;
    opacity: 0;
   }
nav .number {
    color: #000;
    font-weight: 600;
    font-size: 1.2em;
}
nav .navaddress {
    margin-left: 3px;
    border: 0px;
    border-bottom: 2px;
    border-color: #44b244;
    border-style: dotted;
    cursor: pointer;
}
nav .logo {
    width: 190px;
}
nav .address {
    width: 19px;
}
nav .alladdress {
    position: absolute;
    z-index: 106;
    width: 100%;
}
nav .showaddress {
    display: block !important;
    opacity: 1 !important;
    height: auto !important;
}
nav .navgo {
    height: 100%;
}
nav .inaddress {
    background-color: #FFF;
    padding: 1em 1em;
    width: 200px;
    margin: auto;
    display: none;
    opacity: 0;
    height: 0px;
    transition: 1s;
}
nav .alladdress p {
    font-size: 0.7em;
    margin: .5em 0;
    color: #4a4d50;
}
nav .alladdress address {
    cursor: pointer;
    color: #0c9b0c;
    font-weight: 600;
    margin: .4em 0;
}
nav .alladdress address:hover {
    opacity: .6;
}

.gowindow {
    width: 100%;
    user-select: none;
    position: fixed;
    height: 100%;
    top: 0px;
    z-index: 108;
    background: rgba(0,0,0,0.8);
/*    display: none;*/
}
.gowindow2 {
    max-width: 440px;
    margin: 15vh auto 0;
    position: relative;
}
.gowindow3 {
    background-color: #FFF;
    color: #000;
    padding: 2em;
    position: relative;
    z-index: 103;
    box-shadow: rgba(0, 0, 0, 0.28) 0px 0px 40px 20px;
    text-align: left;
    border-radius: .1em;
}
.gowindow3 h3 {
    font-size: 1.5em;
    margin-top: 1em;
    font-weight: 600;
}
.gowindow3 .windlogo {
    width: 55%;
}

#givememobaddress {
    display: none;
}
#givemeaddress {
    display: block;
}
.politota {
    width: 100%;
    user-select: none;
    position: fixed;
    height: 100%;
    top: 0px;
    z-index: 108;
    background: rgba(0,0,0,0.8);
    display: none;
}
.inpolitota {
    max-width: 55%;
    margin: 5vh auto 0;
    position: relative;
}
.readme {
    overflow-y: auto;
    max-height: 90vh;
    background-color: #229700;
    color: #FFF;
    padding: 4em 4em;
    position: relative;
    z-index: 103;
    box-shadow: rgba(0, 0, 0, 0.28) 0px 0px 40px 20px;
    text-align: left;
    border-radius: .1em;
}
.confidential {
    cursor: pointer !important;
    transition: 1s;
}
.confidential:hover {
    opacity: .7;
}

                    /*front-block-first*/
.front-block-first {
    background: url('../img/first/bg.png');
    background-size: 1920px;
    background-position: center bottom;
    background-repeat: no-repeat;
    padding: 3em 0 22em;
    color: #FFF;
}
.front-block-first h1 {
    font-size: 2.1em;
    font-weight: 600;
    margin: 0;
}
.front-block-first h1 big {
    letter-spacing: .15em;
    font-size: 2.03em;
}
.front-block-first h2 {
    font-size: 2.26em;
}
.front-block-first button {
    background: #05e100;
    border: 0;
    color: #FFF;
    padding: 0.6em 0;
    text-transform: uppercase;
    width: 100%;
    font-size: 1.1em;
}
.front-block-first span {
    font-size: 1em;
    line-height: 1.2em;
    display: inline-flex;
}
.instagg:hover {
    opacity: .7;
}

                            /*front-block-second*/

.front-block-second {
    padding: 3em 0;
}
.front-block-second #hummerandkey {
    width: 80px;
}
.front-block-second h3 {
    display: inline-flex;
    vertical-align: middle;
    font-weight: 700;
    font-style: italic;
    font-size: 2.3em;
}
.front-block-second .fsb-1 p {
    font-size: 1.04em;
    font-style: italic;
}
.front-block-second .fsb-2 h5 {
    font-size: 0.8em;
    margin: 0.9em 0 0.1em;
    font-weight: 900;
}
.front-block-second .fsb-2 p {
    font-size: 0.75em;
    font-style: italic;
    font-weight: 600;
}
.front-block-second .fsb-2 img {
    width: 100%;
}



                            /*front-block-third*/

.front-block-third {
    background-color: #DDD;
    padding: 3em 0;
}
.front-block-third h2 {
    font-weight: 600;
    font-size: 2.5em;
    font-style: italic;
    margin-bottom: 1.5em;
}
.front-block-third h4 {
    font-size: .9em;
    font-weight: 900;
    font-style: italic;
}
.front-block-third p {
    font-size: .6em;
    font-weight: 600;
}
.front-block-third img {
    width: 100%;
    margin-bottom: .6em;
}
.front-block-third .scrolltext {
    height: 250px;
    overflow-y: scroll;
}


                           /*front-block-fourth*/

.front-block-fourth {
    padding: 9em 0;
}
.front-block-fourth h3 {
    font-size: 1.8em;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 0.7em;
}
.front-block-fourth .insection1 {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.51);
    padding: 1em 0;
}
.front-block-fourth .insection1 h5 {
    font-weight: 600;
    font-size: 1.2em;
    font-style: italic;
    margin-bottom: 0.1em;
}
.front-block-fourth .insection1 p {
    font-size: .7em;
    font-weight: 600;
    line-height: 1.1em;
}
.front-block-fourth .insection1 input {
    border: 1px solid #000;
    margin: .3em 0;
    padding: 2px .4em;
    width: 100%;
    font-size: 0.9em;
}
.front-block-fourth .insection1 button {
    background-color: #229700;
    border: 0;
    color: #FFF;
    padding: 10px 1em;
    margin-bottom: -1em;
    font-size: .85em;
    margin-top: .5em;
}
.front-block-fourth .insection1 textarea {
    margin: 0.3em 0;
    border: 1px solid #000;
    resize: none;
    height: 87%;
    padding: 2px .4em;
    width: 100%;
    font-size: 0.9em;
}
.front-block-fourth .insection1 a {
    display: block;
    color: #666;
    font-size: 0.55em;
    margin-top: 1.2em;
}
.front-block-fourth .insection1 img {
    width: 75%;
}


                        /*front-block-fifth*/

.front-block-fifth {
    background: #DDD;
    padding: 2em 0;
}
.front-block-fifth h2 {
    font-weight: 600;
    font-style: italic;
    font-size: 2.2em;
}
.front-block-fifth p {
    font-size: 1.3em;
    font-weight: 600;
}
.front-block-fifth button {
    background-color: #229700;
    color: #FFF;
    border: 0;
    letter-spacing: .1em;
    padding: 2px .5em;
}

                  /*map*/

#map {
    background-color: #0c9b0c;
    padding-bottom: 3.3em;
}
#map h3 {
    color: #FFF;
    text-align: center;
    font-weight: 600;
    font-style: italic;
    padding: 1em 0;
    font-size: 2.2em;
}
#map img {
    margin-bottom: 2em;
    width: 260px;
}
#map p {
    color: #000;
    font-weight: 600;
    margin: .5em 0;
}
#map a {
    color: #FFF;
    font-weight: 600;
    padding-left: 1.1em;
    font-size: 1.3em;
}
#map address {
    color: #FFF;
    font-weight: 600;
    padding-left: 1.4em;
    margin: .5em 0;
}
#map .mapborder {
    border: 2px solid #fff;
}

                        /*allaboutusallaboutus*/

#allaboutus {
    padding-bottom: 2em;
}
#allaboutus h3 {
    font-size: 2em;
    padding: 2em 0;
    font-style: italic;
    font-weight: 900;
}
#allaboutus p {
    font-weight: 600;
    font-size: 0.9em;
}
#allaboutus img {
    margin: 1.3em 0;
    width: 100%;
}


                        /*socnetwork*/
.mobile-sn {
    display: none;
}
#socnetwork {
    margin: 3em 0;
}
#socnetwork h4 {
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.7em;
    font-style: italic;
}
.developer {
    background-color: #000;
}
.developer a {
    color: #fff;
    letter-spacing: 1px;
    font-weight: 400;
    text-decoration: none;
    font-size: .8em;
}
.developer a:hover {
  animation: blur 1.25s ease-out;
}
@keyframes blur {
  from {
    text-shadow:0px 0px 2px #fff,
      0px 0px 2px #fff,
      0px 0px 5px #fff,
      0px 0px 5px #fff,
      0px 0px 5px #fff,
      0px 0px 5px #fff,
      0px 0px 5px #fff,
      0px 0px 5px #fff,
      0px 0px 15px #fff,
      0px 0px 15px #fff,
      0px 0px 15px #7B96B8,
      0px 0px 40px #7B96B8,
      0px 5px 20px #7B96B8,
      0px 5px 20px #7B96B8,
      0px 5px 20px #7B96B8,
      0px 5px 20px #7B96B8,
      0px -5px 20px #7B96B8,
      0px -5px 20px #7B96B8,
      0px 0px 15px #fff,
      0px 0px 15px #fff,
      0px 0px 5px #fff,
      0px 0px 5px #fff,
      0px 0px 5px #fff,
      0px 0px 5px #fff,
      0px 0px 5px #fff,
      0px 0px 2px #fff;
  }
}
.mobilemenu {
    display: none;
}




                /*mobile*/


@media (max-width: 800px) {
    #givememobaddress {
        display: block;
    }
    #givemeaddress {
        display: none;
    }
    .mobilemenu {
        background-color: #FFF;
        padding: 2em;
    }
    .mobilemenu a {
        color: rgba(0,0,0,.7);
    }
    .mob-hid {
        display: none;
    }
    nav .logo {
        width: 100%;
    }
    nav .number {
        font-size: .8em;
    }
    nav .navaddress {
        font-size: .7em;
    }
    nav .address {
        width: 8px;
    }
    nav .inaddress {
        display: none;
    }
    .front-block-first {
        background-size: 1000px;
        background-position: top;
        padding: 3em 0;
    }
    .front-block-first h2 {
        font-size: 1em;
    }

    .front-block-second {
        text-align: center;
    }
    .front-block-second #hummerandkey {
        width: 20%;
        display: inline-flex;
        vertical-align: middle;
    }
    .front-block-second h3 {
        text-align: left !important;
        width: 75%;
        font-size: 1.6em;
        padding-left: .4em
    }
    .front-block-second .fsb-1 p {
        font-size: 0.8em;
        padding-bottom: 2em;
        text-align: center;
        margin-bottom: 40px;
    }
    .front-block-second .fsb-2 h5 {
        font-size: 1.2em;
        font-weight: 600;
    }
    .front-block-second .fsb-2 p {
        font-size: 1em;
        font-weight: 400;
    }
    .front-block-second .fsb-2 img {
        width: 70%;
    }
    .front-block-third {
        text-align: center;
    }
    .front-block-third img {
        width: 70%;
    }
    .front-block-third h2 {
        font-size: 2em;
        text-align: center;
    }
    .front-block-third .ftb-1 h4 {
        font-size: 2em;
    }
    .front-block-third .ftb-1 p {
        font-size: 1.1em;
        font-weight: 400;
        margin-bottom: 2.1em;
    }
    .front-block-fourth .insection1 textarea, .front-block-fourth .insection1 input {
        font-size: 1.05em;
        width: 70%;
    }
    .front-fourth-block .ffb-1 button {
        padding: 15px 1em;
        margin-top: .5em;
        width: 70%;
    }
    .front-block-fourth .insection1 a {
        margin-top: 2.6em;
    }
    .front-block-fifth h2 {
        font-size: 1.1em;
    }
    #allaboutus h3 {
        font-size: 1.7em;
        padding: 1.8em 0 1.2em;
    }
    #allaboutus p {
        font-size: 0.7em;
    }

    #map {
        text-align: center;
        padding-bottom: 0;
    }
    #map h3 {
        font-size: 1.6em;
    }
    #map .mapborder {
        margin-top: 2em;
    }
    #map a {
        padding: 0;
    }
    #socnetwork {
        display: none;
    }
    .mobile-sn {
        display: flex;
    }
    .mobile-sn img {
        width: 70% !important;
        margin: 2em 4px !important;
        background: #dedede85;
        border-radius: 100%;
    }
    .inpolitota {
        max-width: 90vw;
    }
    .readme {
        padding: 1.5em 2em;
    }
    .close {
        right: 17px;
        position: absolute;
        top: 1.5vh;
        height: 20px;
        cursor: pointer;
        z-index: 106;
    }
}
#vk_groups, #vk_groups iframe, .fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
}
